
<h1 class="text-center">Fetching all the Students</h1>
<div class="main_div">
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAMES</th>
                <th>EMAIL</th>
                <th>GENDER</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let student of students">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.gender}}</td>
            </tr>
        </tbody>
    </table>
    <button class="text-center btn" routerLink="">logout</button>
</div>