<div class="main_div">
    <div class="second_div">
        <h1>Torus Digital</h1>
        <button  routerLink="">Logout</button>
    </div>
    <div class="third">
        <h2 class="text-secondary">We provide various Stocks for our users</h2>
    </div>
    <div class="list">
        <ul>
            <li><a href="https://www.bing.com/search?q=bitcoins+in+india&cvid=387aa369972e46a0a8d20d62be5660f0&aqs=edge.2.0l9.6103j0j1&pglt=2083&FORM=ANNTA1&PC=U531" target="_blank">Bitcoin</a></li>
            <li><a href="https://www.bing.com/search?q=Ethereum+in+india&cvid=1e2ffb92aed046f896a36bb928d3f921&aqs=edge..69i57j0l7.12039j0j9&FORM=ANAB01&PC=U531" target="_blank">Ethereum</a></li>
            <li><a href="https://www.mutualfundindia.com/" target="_blank">Mutual Funds</a></li>
            <li><a href="https://www.moneycontrol.com/stocksmarketsindia/" target="_blank">Stock Market</a></li>
            <li><a href="https://crypto.com/nft/marketplace" target="_blank">NFT</a></li>
        </ul>
    </div>
</div>
